app-merchant-card {
}

.merchants__section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;

  figure {
    margin: 0 auto; /* Центровка изображения */
    width: 80%;
    height: 80%; /* Фиксированная высота для карточек */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain; /* Чтобы изображение заполняло карточку без искажений */
      border-radius: 8px; /* Закругленные углы для изображения */
    }
  }

  h6 {
  }

  button {
    width: 100%;
    padding: 16px 16px 4px 16px;
    display: grid;
    grid-template-rows: 6fr 1fr;
  }
}
